.home-logo {
    max-width: 55px;
}

.submit-alert-btn {
    margin-top: -5px;
    border: 0px;
    box-shadow: none;
    color: rgb(243, 156, 18) !important;
    font-weight: 600;
    background: rgb(255, 255, 255);
}